.box{
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.box > img{
    object-fit: cover;
    max-width: 400px;
    height: auto;
    vertical-align: middle;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #566c9a;
}