.main_perfil_photo{
  max-width: 200px;
  margin: 20px;
}


.titleContainer{
padding: 40px;
}

.italic-phrase{
  font-family: 'Brygada 1918', serif;
}
.title-devsite{
  font-family: 'JetBrains Mono', monospace;
}

.heroBanner {
  padding: 40px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

